<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="../public/css/skeleton.css">
<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
<script src="../model/notePad.js"></script>
<script src="../model/note.js"></script>
<script src="../public/interface.js"></script>
</head>

<body>
  <h1>My Notes</h1>

  <form >
    <textarea id="content" rows="1" cols="26"></textarea>
    <br>
    <input id="create" type="submit" value="Create note" style="background-color:green; color:white">
  </form>

  <div id="notes">
    <ul id="notes-list">
    </ul>
  </div>
</body>

</html>
